.oneTask{
    z-index: 1;
    display: flex;
    align-items: center;
    max-width: 700px;
    min-width:580px;
    height: 70px;
    border-radius: 4px;
    margin-bottom: 1px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
    transition: 0.5s all;
}
.oneTask:hover{
    box-shadow: 1px -1px 5px rgba(255, 255, 255, 0.3);
}
.dark{
    background: hsl(235, 24%, 19%)
}
.light{
    background-color: hsl(0, 0%, 100%)
}
.deleteBtn{
    display: flex;
    align-items: center;
    border: none;
    background: transparent;
    color: rgb(164, 164, 164);
    font-size: 30px;
    font-weight: 200;
    cursor: pointer;
    margin-right: 40px;
}
.deleteBtn img{
    width: 24px;
    height: 24px;
    cursor: pointer;
}
